.description {
max-width: 705px;
color: grey;
font-size: 1.875em;
}
.screenshot {
max-width: 460px; 
max-height: 460px;
margin-right: 20px;
}
* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
}
.app {
display: flex
}
.title {
padding-left: 10px;
padding-top: 20px;
margin-bottom: 20px;
background-color: #33bebe;
max-width: 1165px;
color: white;
}